<div class="form-group">
    <input type="text" class="form-control" id="searcher" placeholder="Search ..." data-ng-model="search"/>
</div>
<table class="table table-striped table-hover">
    <tr>
	<th>&nbsp;#&nbsp;</th>
	<th>Name</th>
	<th>:-)</th>
	<th>Estimate</th>
    </tr>
    <tr data-ng-repeat="item in data | filter:search" data-ng-click="">
        <td>{{item.level}}</td>
        <td>{{item.minusername}}</td>
        <td>{{item.minsteps}}</td>
        <td>{{item.estimate}}</td>
    </tr>
</table>
