<div class="form-group">
    <label for="txtName">Player Name:</label>
    <input type="text" id="txtName" class="form-control" data-ng-model="item.username" />
</div>
<div class="form-group">
    <label for="txtEmail">Email:</label>
    <input type="text" id="txtEmail" class="form-control" data-ng-model="item.useremail" />
</div>
<div class="form-group">
    <label for="cboStatus">Status:</label>
    <select name="cboStatus" id="cboStatus" class="form-control" data-ng-model="item.userstatus" >
        <option value="1">Active</option>
        <option value="0">Inactive</option>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-primary" data-ng-click="save()">Save</button>
    <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
</div>
