<div class="form-group">
    <select name="date" id="date" class="form-control" data-ng-model="date" data-ng-change="listSummary()" >
        <option value="ORDER BY id ASC">....</option>
        <option value="ORDER BY userstatus DESC">.....</option>
    </select>
</div>

<table class="table table-striped table-hover">
    <tr>
	<th>New User</th>
	<th>Login User</th>
	<th>Inactive User</th>
	<th>Active User</th>
	<th>Total User</th>
    </tr>
    <tr>
        <td>{{item.userentered}}</td>
        <td>{{item.userlogin}}</td>
        <td>{{item.usertotal-item.useractive}}</td>
        <td>{{item.useractive}}</td>
        <td>{{item.usertotal}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Passed Levels</th>
        <th>Max Level</th>
        <th>BoxMan Pass</th>
        <th>Threads</th>
        <th>Messages</th>
    </tr>
    <tr>
        <td>{{item.todaylevel}}</td>
        <td>{{item.userlevel}}/{{item.$totallevel}}</td>
        <td>{{item.badpurchasenumber}}/{{item.purchasenumber}}</td>
        <td>{{item.threadnumber}}</td>
        <td>{{item.messagenumber}}/{{item.messagetotal}}</td>
    </tr>
</table>
