<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'DOMAIN' | translate }}</th>
            <th class="text-center">{{ 'ACTIVE' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="server in model.servers" ng-click="select(server)" data-ng-class="{active:server==model.selectedServer}">
            <td>{{server.description}}</td>
            <td>{{server.domain}}</td>
            <td class="text-center">
                <span ng-if="server.active" class="fa fa-check"></span>
                <span ng-if="!server.active" class="fa fa-times"></span>
            </td>
        </tr>
    </tbody>
</table>