<div id="historyDialog" ng-controller="historyController" style="width: 100%; height: 100%; overflow: initial">
    <div kendo-splitter
         id="splitter"
         k-panes="[{ collapsible: false, scrollable: false, resizable: true, size: '33%' }, { collapsible: false, scrollable: true, resizable: true }]"
         k-orientation="'vertical'"
         style="height: 100%">
        <div kendo-splitter
             k-panes="[{ collapsible: false, scrollable: true, resizable: true }, { collapsible: false, scrollable: false, resizable: true, size: '60%' }]"
             k-orientation="'horizontal'">
            <div kendo-tree-view="topLeftTreeView"
                 k-options="treeOptions"
                 class="no-select"
                 k-on-check="onKendoCheck(kendoEvent)"
                 k-data-source="descriptionData"
                 k-template="itemTemplate">
            </div>
            <div kendo-splitter
                 k-panes="[{ collapsible: false, scrollable: false, resizable: false, size: 34 }, { collapsible: false, scrollable: true, resizable: true }]"
                 k-orientation="'vertical'">
                <div class="container-xs-height">
                    <div bs-row class="history-search">
                        <div id="divSortButtons" bs-col="xs-12" bs-pull="right" style="margin: 2px">
                            <button bs-btn bs-pull="left" ng-click="Filter()" style="margin-left: 6px" class="btn">{{ 'FILTER' | translate }}</button>
                            <button bs-btn bs-pull="right" ng-click="SortByDateTime($event)" style="margin-left: 4px" class="btn hbtn-state-selected">{{ 'SORT_NONE' | translate }}</button>
                            <button bs-btn bs-pull="right" ng-click="SortByYear($event)" style="margin-left: 4px">{{ 'SORT_YEAR' | translate }}</button>
                            <button bs-btn bs-pull="right" ng-click="SortByMonth($event)" style="margin-left: 4px">{{ 'SORT_MONTH' | translate }}</button>
                            <button bs-btn bs-pull="right" ng-click="SortByDay($event)" style="margin-left: 4px">{{ 'SORT_DAY' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div kendo-tree-view="topRightTreeView"
                     id="accessLogTreeView"
                     k-data-source="treeDataTopRight"
                     k-on-select="onSelectLogItem(kendoEvent)">
                </div>
            </div>
        </div>
        <div id="divMain">
            <kendo-treelist ng-hide="false"
                            class="no-alt"
                            id="treeList"
                            options="treelistOptions"
                            k-rebind="treeListDataTrigger">
            </kendo-treelist>
        </div>
    </div>

    <div id="bigDetail" style="width: 100%; height: 100%; display: table">
        <div style="display: table-row; height: 24px">
            <div style="display: table-cell; width: 50%; font-size: medium">{{ 'NEW_TITLE' | translate }}</div>
            <div style="display: table-cell; width: 50%; font-size: medium">{{ 'OLD_TITLE' | translate }}</div>
        </div>
        <div style="display: table-row; height: 100%">
            <div style="display: table-cell; width: 50%">
                <div class="big-data">
                    <textarea readonly class="big-data">{{bigDataRow.NewValue}}</textarea>
                </div>
            </div>
            <div style="display: table-cell; width: 50%">
                <div class="big-data">
                    <textarea readonly class="big-data">{{bigDataRow.OldValue}}</textarea>
                </div>
            </div>
        </div>
        <div id="divBottomDetail" style="display: table-row; height: 24px">
            <div style="display: table-cell; width: 50%; font-size: medium"></div>
            <div style="display: table-cell; width: 50%; font-size: medium; text-align: right">
                <button bs-btn ng-click="hideBigData()" style="margin-top: 2px">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>

