<div bs-popup="header">
    <h1 bs-popup="title"><i bs-glyphicon="question-sign"></i>&nbsp;<small>{{opts.title}}</small></h1>
</div>
<div bs-popup="body">
    {{opts.content}}
</div>
<div bs-popup="footer">
    <button id="actionBtn" ng-show="opts.actionBtnShow" bs-btn="primary" ng-click="onAction()">{{opts.actionBtnText}}</button>
    <button id="closeBtn" ng-show="opts.closeBtnShow" bs-btn ng-click="onClose()">{{opts.closeBtnText}}</button>
    <button id="cancelBtn" ng-show="opts.cancelBtnShow" bs-btn ng-click="onCancel()" ng-if="opts.cancelBtnText">{{opts.cancelBtnText}}</button>
</div>