<!--
<div class="login jumbotron center-block ">
    <h1>Login</h1>
    <form role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" data-ng-model="user.username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" data-ng-model="user.password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" data-ng-click="login()" class="btn btn-default">Submit</button>
    </form>
</div>
-->

<div class="well well-sm well-detail login-page">
    <form autocomplete="off" name="form" role="form" novalidate data-ng-submit="submit()">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" type="text" name="fakeusernameremembered" />
        <input style="display:none" type="password" name="fakepasswordremembered" />
        <br />
        <br />
        <div class="row">
            <div class="col-xs-offset-4 col-xs-3">
                <label class="label label-warning control-label" data-ng-show="model.warning">
                    {{model.warning}}
                </label>
                <div class="form-group">
                    <label for="username" class="control-label">User name</label>
                    <input class="form-control" type="text" name="username"
                           ng-model="user.username"
                           ng-maxlength="20"
                           ctl-char-limit="20"
                           required ctl-auto-focus />
                </div>
                <div class="form-group form-group-sm">
                    <label for="password" class="control-label">Password</label>

                    <input class="form-control" type="password" name="password"
                           ng-model="user.password"
                           ng-maxlength="20"
                           ctl-char-limit="20"
                           required autocomplete="off" />
                </div>
                <div class="form-group form-group-sm login-buttons-container">
                    <button type="submit" class="btn btn-primary login-btn">Submit</button>
                    <button type="reset" data-ng-click="reset()" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </div>

    </form>
</div>
