<div class="form-group">
    <label for="txtName">User Name:</label>
    <input type="text" id="txtName" class="form-control" data-ng-model="item.name" />
</div>
<div class="form-group">
    <label for="txtEmail">User Email:</label>
    <input type="text" id="txtEmail" class="form-control" data-ng-model="item.email" />
</div>
<div class="form-group">
    <label for="cboStatus">User Status:</label>
    <select name="cboStatus" id="cboStatus" class="form-control" data-ng-model="item.status" >
        <option value="0">Active</option>
        <option value="1">Inactive</option>
    </select>
    
</div>
<div class="form-group">
    <button class="btn btn-primary" data-ng-click="save()">Save</button>
    <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
</div>
