<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule admin/summary/(.*)$ admin/endpoint.summary.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/player/(.*)$ admin/endpoint.player.php?rquest=$1 [QSA,NC,L]
</IfModule>
