<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule admin/auth/(.*)$ admin/endpoint.auth.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/summary/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/player/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/activity/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/record/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/level/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/pass/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/message/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
RewriteRule admin/thread/(.*)$ admin/endpoint.action.php?rquest=$1 [QSA,NC,L]
</IfModule>
